# Data Science Tools and Ecosystem

In this notebook, data science Tools and Ecosystem are summarized.

Some of the key takeaways from the course

**Objectives:**

- Popular languages of data science
- Popular libraries of data science
- Some Arithmetic expression in python

Some of the popular languages that Data Scientists use are:

1. Pyhton
2. R 
3. C++

Some of the commonly used libraries used by Data Scientist include:

1. Numpy
2. Matplotlib
3. Pandas
4. Scipy

| Data Science Tools |
| ------------------ |
| Jupyter notebook |
| Apache Hadoop |
| Apache Atlas |

 ### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#Code cell to mutliply and add numbers
(3*4)+5

17

In [8]:
#Convert 200 into hours
#This will convert 200 mintues to hours by diving by 60.
#mintues//60
200//60

3

## Author
Ankur Gupta